@{int fila = 1; }

@{
    ViewBag.Title = "Consulta de Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .miActionLink:hover {
        color: white
    }

    .miActionLink {
        color: white
    }
</style>

<div class="row">
    <div class="col-lg-12">
        <button class="btn btn-primary btn-success" title="Ingresar un elemento nuevo" style="position: absolute; right: 0;" type="button"><i class="fas fa-user"></i> @Html.ActionLink("Nuevo", "RegistroUsuario", "Usuarios", new { @class = "miActionLink" }) </button>
        <br />
        <div class="table-responsive">
            <h4> Listado de Usuarios </h4>
            <hr />
            <table class="table table-borderless table-striped table-earning">
                <thead>
                    <tr style="text-align: center;">
                        <td> <b>#</b> </td>
                        <td> <b>Código</b> </td>
                        <td> <b>Rol</b> </td>
                        <td> <b>Usuario</b> </td>
                        <td> <b>Nombre</b> </td>
                        <td> <b>Apellido</b> </td>
                        <td> <b>Fecha de Creación</b> </td>
                        <td> <b>Acciones</b> </td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.ListaUsuarios)
                    {
                        <tr style="text-align: center;">
                            <td>@fila</td>
                            <td>@item.Id </td>
                            @foreach (var rol in ViewBag.ListaRoles)
                            {
                                if (item.IdRol == rol.Id)
                                {
                                    <td>@rol.Descripcion</td>
                                }
                            }
                            <td>@item.Usuario </td>
                            <td>@item.Nombre </td>
                            <td>@item.Apellido </td>
                            <td>@item.FechaCreacion </td>
                            <td>
                                <button title="Editar" class="btn btn-primary btn-info" onclick='window.location="@Url.Action("EditaUsuario","Usuarios",new { codigo = item.Id })"' type="button" name="Editar" id="Editar"><i class="fas fa-edit"></i></button>
                                <button title="Eliminar" class="btn btn-primary btn-danger" onclick='window.location="@Url.Action("EliminaUsuario","Usuarios",new { codigo = item.Id })"' type="button" name="Eliminar" id="Elimiar"><i class="fas fa-crosshairs"></i></button>
                            </td>
                        </tr>
                        fila++;
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-12">
        <button class="btn btn-primary btn-warning" title="Ir Hacia Arriba" style="position: absolute; right: 0;" type="button" onclick="topFunction()"><i class="fas fa-arrow-alt-circle-up"></i></button>
    </div>
</div>

<script>
    function topFunction() {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }
</script>