@model PracticoMVC.Models.ClienteModelo

@{
    ViewBag.Title = "Edición de Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        @if (ViewBag.Message != null)
        {
            <div class="row" style="margin-top:2%;">
                <div class="col-md-8">
                    <div class="@ViewBag.Class" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        @ViewBag.Message
                    </div>
                </div>
            </div>
        }
        <div class="row">
            <div class="col-lg-12">
                <button class="btn btn-primary btn-warning" title="Volver atrás" style="position: absolute; right: 0;" onclick='window.location="@Url.Action("ConsultaClientes","Clientes")"' type="button"><i class="fas fa-arrow-alt-circle-left"></i></button>
                <br />
                <br />
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h4> Edición de Clientes </h4>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("EditaCliente", "Clientes", FormMethod.Post))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                        <br />
                        <div class="row form-group">
                            <div class="col col-md-3">
                                @Html.LabelFor(model => model.Codigo, htmlAttributes: new { @class = "form-control-label" })
                            </div>
                            <div class="col-12 col-md-9">
                                @Html.EditorFor(model => model.Codigo, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control", @placeholder = "Aquí debe autocompletarse la código de cliente...", @style = "text-transform:uppercase;", @onkeyup = "javascript:this.value=this.value.toUpperCase()" } })
                                @Html.ValidationMessageFor(model => model.Codigo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <br />
                        <div class="row form-group">
                            <div class="col col-md-3">
                                @Html.LabelFor(model => model.RazonSocial, htmlAttributes: new { @class = "form-control-label" })
                            </div>
                            <div class="col-12 col-md-9">
                                @Html.EditorFor(model => model.RazonSocial, new { htmlAttributes = new { @class = "form-control", @placeholder = "Aquí debe autocompletarse la Razón Social...", @style = "text-transform:uppercase;", @onkeyup = "javascript:this.value=this.value.toUpperCase()" } })
                                @Html.ValidationMessageFor(model => model.RazonSocial, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <br />
                        <div class="row form-group">
                            <div class="col col-md-3">
                                @Html.LabelFor(model => model.IdUsuario, htmlAttributes: new { @class = "form-control-label" })
                            </div>
                            <div class="col-12 col-md-9">
                                <select name="IdUsuario" id="IdUsuario" class="form-control">
                                    @if (ViewBag.Exito != null)  //si fuese null, significa que los datos deben completarse. Sino, significa que ya interactuamos con la app y se obtuvo algún resultado
                                    {
                                        <option value="">AQUÍ DEBE AUTOCOMPLETARSE EL USUARIO...</option>
                                    }
                                    else
                                    {
                                        <option value="">SELECCIONE UN USUARIO...</option>
                                        foreach (var usuarios in ViewBag.ListaUsuarios)
                                        {
                                            if (Model.IdUsuario == usuarios.Id)
                                            {
                                                <option value="@usuarios.Id" selected>@usuarios.Usuario (@usuarios.Apellido, @usuarios.Nombre)</option>
                                            }
                                            else
                                            {
                                                <option value="@usuarios.Id">@usuarios.Usuario (@usuarios.Apellido, @usuarios.Nombre)</option>
                                            }
                                        }
                                    }
                                </select>
                                @Html.ValidationMessageFor(model => model.IdUsuario, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class="row form-group">
                            <div class="col-lg-12">
                                <input type="submit" style="margin-left:45%" class="btn btn-primary" name="Modificar" id="Modificar" value="Modificar" />
                            </div>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</div>
